image: Visual Studio 2017
configuration: Release

install:
    - git submodule update --init
    - appveyor DownloadFile http://www.tortall.net/projects/yasm/releases/yasm-1.3.0-win64.exe -FileName yasm.exe
    - set PATH=%PATH%;%APPVEYOR_BUILD_FOLDER%
    - generate_vs17.bat

build:
  project: svt-av1.sln

artifacts:                          
    - path: bin\Release\*svt-av1*.*
      name: $(APPVEYOR_PROJECT_NAME)
